<!-- HERO -->
<section class="hero hero--custom has-text-centered pt-5">
	<div class="hero-body">
		<h1 class="title is-uppercase">à propos</h1>
	</div>
</section>
<!-- SECTIONS -->
<section class="section section-aPropos" style="background-image: url('/img/fruits-297410.png')">
	<div class="container is-max-desktop">
		<article class="box">
			<h2 class="title has-text-centered is-size-5-mobile">Pourquoi manger de saison ?</h2>
			<p>
				Privilégier les produits de saison est important pour réduire notre impact écologique, ainsi que pour préserver leur goût. Consommer de saison, c'est également encourager les circuits courts et les produits locaux. En effet, les produits hors saison et importés sont souvent transportés par avion ou par bateau, puis par camion avant d'arriver sur les étales. Or ces trois moyens de transport sont polluants pour la planète.
			</p>
		</article>
	</div>
</section>
