.footer--height {
  height: 10vh;
  padding-top: 1em;
  @include small-only {
    height: 20vh;
  }
}

.social {
  &-item {
    display: inline;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}
