<!-- HERO -->
<section class="hero hero--custom has-text-centered pt-5">
	<div class="hero-body">
		<h2 class="subtitle">Les fruits du mois de:</h2>
		<h1 class="title title--hero is-uppercase"></h1>
	</div>
</section>
<!-- SECTION  -->
<section class="section is-flex is-flex-wrap-wrap is-justify-content-space-evenly section-fruits">
	{% for fruit in fruits %}
		<div class="card mb-4">
			<a href="{{path('fruit-info', {'fruitName': fruit.fruitName})}}" class="box products-box">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="/uploads/product/{{fruit.file}}" alt="{{fruit.fruitName}}">
					</figure>
				</div>
				<h2 class="title pt-5 has-text-centered products-title">{{fruit.fruitName}}</h2>
			</a>
		</div>
	{% endfor %}

</section>
