<!-- HERO -->
<section class="hero is-primary has-text-centered pt-5">
	<div class="hero-body">
		<h2 class="subtitle">Les légumes du mois de:</h2>
		<h1 class="title title--hero is-uppercase"></h1>
	</div>
</section>
<!-- SECTION  -->
<section class="
		        section
		        is-flex is-flex-wrap-wrap is-justify-content-space-evenly
		        section-fruits
		      ">
	<a href="#" class="box products-box" style="
			          background-image: url('./assets/img/fruits/apricot-2314631_1280.jpg');
			        ">
		<h2 class="title has-text-centered products-title">Abricot</h2>
	</a>
	<a href="#" class="box products-box" style="
			          background-image: url('./assets/img/fruits/apple-1239300_1280.jpg');
			        ">
		<h2 class="title has-text-centered products-title">Pomme</h2>
	</a>

	<a href="#" class="box products-box" style="
			          background-image: url('./assets/img/fruits/banana-2449019_1280.jpg');
			        ">
		<h2 class="title has-text-centered products-title">banane</h2>
	</a>
	<a href="#" class="box products-box" style="
			          background-image: url('./assets/img/fruits/berry-1239092_1280.jpg');
			        ">
		<h2 class="title has-text-centered products-title">cerise</h2>
	</a>
	<a href="#" class="box products-box" style="
			          background-image: url('./assets/img/fruits/blueberries-894839_1280.jpg');
			        ">
		<h2 class="title has-text-centered products-title">myrtille</h2>
	</a>
	<a href="#" class="box products-box" style="
			          background-image: url('./assets/img/fruits/chestnut-3741004_1280.jpg');
			        ">
		<h2 class="title has-text-centered products-title">châtaigne</h2>
	</a>
	<a href="#" class="box products-box" style="
			          background-image: url('./assets/img/fruits/citrus-2393_1280.jpg');
			        ">
		<h2 class="title has-text-centered products-title">clémentine</h2>
	</a>
	<a href="#" class="box products-box" style="
			          background-image: url('./assets/img/fruits/kaki-687896_1280.jpg');
			        ">
		<h2 class="title has-text-centered products-title">kaki</h2>
	</a>
	<nav class="pagination" role="navigation" aria-label="pagination">
		<a class="pagination-previous" title="This is the first page" disabled>Previous</a>
		<a class="pagination-next">Next page</a>
		<ul class="pagination-list">
			<li>
				<a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
			</li>
			<li>
				<a class="pagination-link" aria-label="Goto page 2">2</a>
			</li>
			<li>
				<a class="pagination-link" aria-label="Goto page 3">3</a>
			</li>
		</ul>
	</nav>
</section>
