<!-- HERO -->
<section class="hero is-primary has-text-centered pt-5">
	<div class="hero-body">
		<h2 class="subtitle">Les légumes du mois de:</h2>
		<h1 class="title title--hero is-uppercase"></h1>
	</div>
</section>
<!-- SECTION  -->
<section class="section is-flex is-flex-wrap-wrap is-justify-content-space-evenly section-legumes">
	{% for legume in legumes %}
		<a href="{{path('legume-info', {'legumeName': legume.legumeName})}}" class="box products-box" style="background-image: url('{{legume.imageFile}}');">
			<h2 class="title has-text-centered products-title">{{legume.legumeName}}</h2>
		</a>
	{% endfor %}

</section>
