<!-- HERO -->
<section class="hero is-primary has-text-centered pt-5">
	<div class="hero-body">
		<h1 class="title is-uppercase">Contact</p>
	</div>
</section>
<!-- SECTION  -->
<section class="section section-contact" style="background-image: url('/img/fruits-297410.png')">
	<div class="container is-max-desktop mt-5 mb-5">
		<form class="box">
			<div class="field">
				<label class="label" for="name">Nom</label>
				<div class="control">
					<input class="input" id="name" type="text" placeholder="Nom" required/>
				</div>
			</div>
			<div class="field">
				<label class="label" for="email">Email</label>
				<div class="control">
					<input class="input" id="email" type="email" placeholder="e.g. alex@example.com" required/>
				</div>
			</div>
			<div class="field">
				<label class="label" for="message">Votre message:</label>
				<textarea class="textarea" id="message" name="message" rows="5" cols="33" placeholder="Je vous contacte car..."></textarea>
			</div>
			<div class="has-text-centered">
				<button class="button is-link">Envoyer</button>
			</div>
		</form>
	</div>
</section>
