<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Alexandre Sauvaget"/>
		<meta name="Publisher" content="Alexandre Sauvaget"/>
		<meta name="description" content="'Panier de saison' est une application Web destinée à tous. Elle a pour but de proposer la liste des fruits et légumes disponible (de saison) à la vente mois par mois."/>
		<meta name="keywords" content="fruits, légumes, saisonnalité"/>
		<meta name="Subject" content="Saisonnalité des fruits et légumes"/>
		<meta name="robots" content="index,follow"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="preconceal" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<title>
			{% block title %}Panier de saison
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
								and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include 'base/nav.html.twig' %}
		{% block body %}{% endblock %}
		{% include 'base/footer.html.twig' %}

	</body>
</html>
