// === COLORS ===
$green: #7ce27b;
$green-light: #d1f6d0;
$green-lighter: #b5f3c0;

$red: #e05357;
$red-darker: #e05357;

$cream: #fbfbe5;

$white: white;
$grey: #4a4a4a;
$black: black;

$primary: $green;
